.hero {
  background: var(--first-color);
  padding: 75px 25px 50px;
  text-align: center;
}

.hero .text-wrapper h1,
.hero .text-wrapper .description {
  margin: 20px 0 0;
}

.hero .text-wrapper .btn {
  text-align: center;
}

.hero .text-wrapper .btn:hover {
  background: var(--third-color);
  color: var(--fifth-color);
}

.hero .text-wrapper .first {
  width: 100%;
  background: var(--ninth-color);
  color: var(--fifth-color);
  margin: 30px 0 0;
}

.hero .text-wrapper .second {
  width: 100%;
  background: var(--fifth-color);
  color: var(--third-color);
  margin: 20px 0 0;
}

.hero .img-wrapper {
  margin: 50px 10% 0;
}

.hero .img-wrapper .img {
  width: 100%;
}

.about {
  background: var(--seventh-color);
  padding: 50px 25px;
}

.about .wrapper .img-container {
  position: relative;
}

.about .wrapper .img-container .img-shadow {
  background: var(--first-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25px;
  left: 25px;
  z-index: 1;
}

.about .wrapper .img-container .img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.about .wrapper .text-container {
  text-align: center;
}

.about .wrapper .text-container .title {
  margin: 50px 0 0;
}

.about .wrapper .text-container .description {
  margin: 25px 0 0;
}

.about .dates .date {
  text-align: center;
  margin: 50px 0 0;
}

.about .dates .date .divider {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.about .dates .date .divider svg {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}

.about .dates .date .divider::after,
.about .dates .date .divider::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--forth-color);
}

.about .dates .date .description {
  padding: 0 50px;
  font-size: 15px;
}

.flavors {
  background: var(--fifth-color);
}

.flavors .intro {
  text-align: center;
  padding: 50px 25px;
}

.flavors .intro .description {
  margin: 25px 0 0;
}

.flavors .beer .img-wrapper {
  padding: 50px 20%;
  width: 100%;
}

.flavors .beer .img-wrapper .img {
  width: 100%;
}

.flavors .beer .text {
  background: var(--seventh-color);
  padding: 50px 25px;
}

.flavors .beer .text .title {
  margin: 25px 0 0;
}

.flavors .beer .text .yellow {
  color: var(--first-color);
}

.flavors .beer .text .description {
  margin: 25px 0 50px;
}

.flavors .beer .text .traits {
  margin: 30px 0 0;
  display: flex;
}

.flavors .beer .text .traits .element {
  width: 50%;
}

.features {
  text-align: center;
  padding: 50px 25px;
}

.features .intro .description {
  margin: 25px 0 0;
}

.features .ingredients {
  margin: 50px 0 0;
}

.features .ingredients .wrapper {
  padding: 50px 0 0;
}
.features .ingredients .wrapper .img {
  display: flex;
  margin: 0 auto;
  width: 65%;
}

.features .ingredients .wrapper .first-group {
  margin: 75px 0 0;
}

.features .ingredients .wrapper .first-group .content {
  margin: 50px 0 0;
}

.features .ingredients .wrapper .first-group .content .icon {
  width: 80px;
}

.features .ingredients .wrapper .first-group .content .description {
  margin: 5px 0 0;
}

.features .ingredients .second-group {
  margin: 50px 0 0;
}

.features .ingredients .second-group .content {
  margin: 40px 0 0;
}

.features .ingredients .second-group .content .icon {
  width: 50px;
}

.features .ingredients .second-group .content .description {
  margin: 5px 50px 0;
}

.features .choose {
  padding: 75px 0 0;
}

.features .choose .img {
  display: flex;
  margin: 0 auto;
  width: 65%;
}

.features .choose .text {
  margin: 75px 0 0;
  text-align: center;
}
.features .choose .text .description {
  margin: 25px 0 0;
}

.features .choose .text .wrapper {
  padding: 50px 50px 0;
}

.features .choose .text .wrapper .btn {
  width: 100%;
  background: var(--first-color);
  color: var(--third-color);
}

.features .choose .text .wrapper .btn:hover {
  background: var(--third-color);
  color: var(--fifth-color);
}

.footer .discover {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;

  background: url("../images/background-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .discover .background {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.671) 0%,
    rgba(0, 0, 0, 0.671) 100%
  );
  padding: 50px 25px;
}

.footer .discover .background h2,
.footer .discover .background p {
  color: var(--fifth-color);
}

.footer .discover .background p {
  margin: 25px 0 0;
}

.footer .discover .background .videoplay {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: var(--first-color);
  margin: 30px 0 0;
}

.footer .social-media {
  padding: 50px 25px;
  text-align: center;
}

.footer .social-media .wrapper .btn {
  width: 100%;
  background: var(--first-color);
  color: var(--third-color);
  margin: 50px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer .social-media .wrapper .btn:hover {
  background: var(--third-color);
  color: var(--fifth-color);
}

.footer .social-media .wrapper .btn svg {
  width: 15px;
  height: 15px;
}

.footer .social-media .img-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0;
}

.footer .social-media .img-wrapper .img-tablet {
  display: none;
}

.footer .social-media .img-wrapper .img-desktop {
  display: none;
}

.footer .social-media .img-wrapper img {
  width: 31%;
}

.footer .link-wrapper .get {
  background: url("../images/background-2.jpeg");
}

.footer .link-wrapper .contact {
  background: url("../images/background-3.jpeg");
}

.footer .link-wrapper .link {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.footer .link-wrapper .link .background {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.671) 0%,
    rgba(0, 0, 0, 0.671) 100%
  );
  padding: 50px 25px;
  height: 100%;
}

.footer .link-wrapper .link .background .title {
  color: var(--fifth-color);
}

.footer .link-wrapper .link .background .description {
  margin: 50px 0 0;
  color: var(--fifth-color);
}

.footer .link-wrapper .link .background .btn {
  margin: 50px 0 0;
  padding: 15px 30px;
  background: var(--first-color);
  color: var(--third-color);
}

.footer .link-wrapper .link .background .btn:hover {
  background: var(--fifth-color);
  color: var(--third-color);
}

@media only screen and (min-width: 770px) {
  .hero {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 75px 40px;
    gap: 50px;
  }

  .hero .text-wrapper {
    width: 100%;
  }

  .hero .text-wrapper .btn {
    text-align: center;
    width: 230px;
    margin: 30px 25px 0 0;
  }

  .hero .text-wrapper .second {
    margin: 15px 0 0;
  }

  .hero .img-wrapper {
    margin: auto 0;
  }

  .about {
    padding: 75px 40px;
  }

  .about .wrapper {
    display: flex;
    flex-direction: row;
    gap: 75px;
  }

  .about .wrapper .img-container {
    width: 50%;
    margin: 0 0 auto 0;
  }

  .about .wrapper .img-container .img {
    width: 45vw;
  }

  .about .wrapper .text-container {
    text-align: left;
  }

  .about .wrapper .text-container .title {
    margin: 0;
  }

  .about .dates {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0;
  }

  .about .dates .date .description {
    padding: 0 20px;
  }

  .flavors .intro {
    padding: 75px 40px;
  }

  .flavors .beer {
    display: flex;
    flex-direction: row;
  }
  .flavors .reverse {
    flex-direction: row-reverse;
  }

  .flavors .beer .img-wrapper {
    width: 50%;
    padding: 80px;
    display: flex;
    align-items: center;
  }

  .flavors .beer .text {
    width: 50%;
    padding: 50px;
  }

  .features {
    padding: 75px 40px;
  }
  .features .ingredients .wrapper {
    display: flex;
    flex-direction: row;
  }

  .features .ingredients .wrapper .img-wrapper {
    width: 50%;
  }
  .features .ingredients .wrapper .img-wrapper .img {
    margin: 0;
    width: 100%;
  }

  .features .ingredients .wrapper .first-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0;
  }

  .features .ingredients .wrapper .first-group .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
  }

  .features .ingredients .wrapper .first-group .content .icon {
    width: 62px;
    height: 62px;
  }

  .features .ingredients .second-group {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0;
  }
  .features .ingredients .second-group .content {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .features .ingredients .second-group .content .icon {
    width: 45px;
    height: 45px;
  }

  .features .ingredients .second-group .content .description {
    margin: 0 10px;
  }

  .features .choose {
    padding: 100px 0 0;
  }

  .features .choose .img {
    width: 55%;
  }

  .features .choose .text {
    margin: 0;
  }

  .features .choose .text .wrapper .btn {
    width: 250px;
  }

  .footer .discover .background {
    padding: 100px 120px;
  }

  .footer .social-media {
    padding: 75px 40px;
  }

  .footer .social-media .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer .social-media .wrapper .btn {
    margin: 0;
    width: 300px;
  }

  .footer .social-media .img-wrapper .img-tablet {
    display: flex;
  }

  .footer .social-media .img-wrapper img {
    width: 23%;
  }

  .footer .link-wrapper {
    display: flex;
  }

  .footer .link-wrapper .background .link .btn {
    margin: 0;
    width: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding: 100px 60px;
  }

  .hero .img-wrapper {
    margin: auto 0;
  }

  .about {
    padding: 100px 60px;
  }

  .about .wrapper {
    gap: 100px;
  }

  .about .wrapper .img-container .img {
    width: 40vw;
    max-width: 500px;
  }

  .about .wrapper .img-container {
    margin: auto 0;
  }

  .about .dates {
    margin: 50px 0 0;
  }

  .flavors {
    padding: 100px 10%;
  }

  .flavors .intro {
    margin: 0 0 100px 0;
  }

  .flavors .beer .img-wrapper {
    display: flex;
    justify-content: center;
  }

  .flavors .beer .img-wrapper .img {
    width: 100%;
    max-width: 413px;
  }

  .features {
    padding: 100px 60px;
  }

  .features .ingredients .wrapper {
    padding: 100px 0 0;
  }

  .features .ingredients .wrapper .img-wrapper {
    width: 50%;
  }

  .features .ingredients .wrapper .img-wrapper .img {
    width: 340px;
    margin: 0;
    padding: 0;
  }

  .features .ingredients .wrapper .first-group {
    width: 50%;
  }

  .features .ingredients .second-group {
    justify-content: space-between;
    padding: 0 0 100px 0;
  }

  .features .ingredients .second-group .content .description {
    width: 220px;
  }

  .features .choose {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }

  .features .choose .img-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features .choose .img-wrapper .img {
    margin: 0;
    width: 440px;
  }

  .features .choose .text {
    width: 50%;
    text-align: left;
  }

  .features .choose .text .wrapper {
    padding: 50px 0 0;
  }
  .features .choose .text .wrapper .btn {
    text-align: center;
  }

  .footer .discover {
    background-attachment: fixed;
  }

  .footer .discover .background {
    width: 100%;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .discover .background .title,
  .footer .discover .background .description {
    width: 560px;
  }

  .footer .social-media {
    padding: 100px 60px;
  }

  .footer .social-media .wrapper .btn {
    gap: 10px;
  }

  .footer .social-media .img-wrapper .img-desktop {
    display: flex;
  }

  .footer .social-media .img-wrapper img {
    width: 18%;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding: 120px 100px;
  }

  .hero .text-wrapper {
    max-width: 600px;
  }

  .about {
    padding: 120px 100px;
  }

  .features {
    padding: 120px 100px;
  }

  .footer .social-media {
    padding: 120px 100px;
  }
}
